<a href="https://colab.research.google.com/github/sohambharadwaj/teaching/blob/main/url.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url="https://raw.githubusercontent.com/codebasics/py/master/pandas/2_dataframe_basics/weather_data.csv"

In [3]:
df1=pd.read_csv(url)

In [4]:
df1.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny